[Desktop Entry]
Exec=flatpak run app.zen_browser.zen
Name=Browser
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
