[Desktop Entry]
Actions=FullScreenScreenShot;CurrentMonitorScreenShot;ActiveWindowScreenShot;RectangularRegionScreenShot;WindowUnderCursorScreenShot;RecordRegion;RecordScreen;RecordWindow;OpenWithoutScreenshot;
Categories=Qt;KDE;Utility;
Comment=Take screenshots and screen recordings
DBusActivatable=true
Exec=/usr/bin/spectacle
GenericName=Screenshot Capture Utility
Icon=spectacle
Keywords=snapshot;capture;print;screenshot;snipping;snipping tool;snip;
Name=Screenshot
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.Spectacle
X-DBUS-StartupType=Unique
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2
X-KDE-Shortcuts=Print,Meta+Shift+S
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-Wayland-Interfaces=org_kde_plasma_window_management,zkde_screencast_unstable_v1

[Desktop Action ActiveWindowScreenShot]
Exec=/usr/bin/spectacle -a
Name=Capture Active Window
X-KDE-Shortcuts=Meta+Print

[Desktop Action CurrentMonitorScreenShot]
Exec=/usr/bin/spectacle -m
Name=Capture Current Monitor

[Desktop Action FullScreenScreenShot]
Exec=/usr/bin/spectacle -f
Name=Capture Entire Desktop
X-KDE-Shortcuts=Shift+Print

[Desktop Action OpenWithoutScreenshot]
Exec=/usr/bin/spectacle -l
Name=Launch without taking a screenshot

[Desktop Action RecordRegion]
Exec=/usr/bin/spectacle -R region
Name=Start/Stop Region Recording
X-KDE-Shortcuts=Meta+Shift+R,Meta+R

[Desktop Action RecordScreen]
Exec=/usr/bin/spectacle -R screen
Name=Start/Stop Screen Recording
X-KDE-Shortcuts=Meta+Alt+R

[Desktop Action RecordWindow]
Exec=/usr/bin/spectacle -R window
Name=Start/Stop Window Recording
X-KDE-Shortcuts=Meta+Ctrl+R

[Desktop Action RectangularRegionScreenShot]
Exec=/usr/bin/spectacle -r
Name=Capture Rectangular Region
X-KDE-Shortcuts=Meta+Shift+Print

[Desktop Action WindowUnderCursorScreenShot]
Exec=/usr/bin/spectacle -u
Name=Capture Window Under Cursor
X-KDE-Shortcuts=Meta+Ctrl+Print
