[Unit]
Description=Run distrobox setup once on login
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/etc/setup_userspace.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target