[Unit]
Description=Configure userspace according to the default bluebuild configuration
After=default.target

[Service]
Type=oneshot
ExecStart=/etc/bluebuild/scripts/setup_userspace.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target